[Unit]
Description={{ single_binary_service_name }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ single_binary_service_user }}
Group={{ single_binary_service_group }}
ExecStart={{ single_binary_service_share_path }}/{{ single_binary_service_name }}.sh start
ExecStop={{ single_binary_service_share_path }}/{{ single_binary_service_name }}.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
